---
const platform = "github";
const username = "suntiparb72";
const userAnotherAccount = "itcom7200"
import Social from "./Social.astro";
---

<footer>
  <p>
    Learn more about my projects on
    <a target="_blank" href={`https://www.${platform}.com/${username}`}>{platform}</a>!
  </p>
  <Social {platform} username={userAnotherAccount} />
  <!-- if platform={platform}. can used platform it work -->
</footer>
